@font-face {
  font-family: 'Space Ranger Regular';
  //src: url('D:/xampp/htdocs/projects/acca-quiz/public/fonts/space-ranger/spaceranger.woff');
  src: url('../fonts/spaceranger.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body { 
    background: url(../images/cover.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, 'Avenir Next LT Pro';
    font-weight: bold;
    color: #4c4849;
    // height: 100vh;
    // overflow: hidden;
    transition: background 0.75s ease-in-out;
  }

  h1,h2,h3,h4{
    font-family: 'Space Ranger Regular',Arial;
    font-weight: normal;
  }

  .form-control{
      border: 1px solid #4c4849;
      border-radius: 0px;
  }

  #clock-el{
       width: 100%; 
       left: 0;
  }
  .card{
    word-wrap: normal !important; 
  }
  #card-con-wrap{
    p{
      img{
        width: 100% !important;
        margin-bottom: 10px;
      }
    }
  }